.finalize{
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
    background-image: url(../static/images/finalisebg.png);
    background-size: cover;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    
}




.final-preview{
    box-shadow: 0 2px 9px rgba(186, 186, 186, 0.5);
    
    background: linear-gradient(45deg, grey, white,pink);
    border: 5px solid palevioletred;
}
.final-templates{
    width: 390px;
    margin-top: 141px;
}
.download-btn{
    top: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-top: 350px;
}
.btn{
    width: 100%;
   
}