
@keyframes mymove {
    0% {border-radius: 10px 10px 10px 100px;}
   25% {border-radius: 100px 10px 20px 10px;}
   50% {border-radius: 10px 100px 10px 20px;}
   75% {border-radius: 20px 10px 100px 10px;}
  100% {border-radius: 10px 10px 10px 100px;}
}
.fullpage{
    display: flex;
    height: 500px;
    margin: auto;
    width: fit-content;
}
.register{
    height:500px;
    width: 600px;
    padding: 50px;
    margin: 80px;
    box-shadow: 0 2px 9px rgba(186, 186, 186, 0.5);

}
.email , .password , .confirmation{
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-top: 20px;
}
#email , #password , #confirmation{
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    color: #545d69;
    font-weight: 500px;
    font-size: 20px;
    background-color: #f2f5fa;
    padding: 10px;
}
.register-btn{
    margin-top: 40px;
}
.signin-img{
    width: 500px;
    height: 367px;
    margin-top: 6px;
    margin-left: 30px;
    margin: 34px;
}
.signin-form-details{
      color: black;
  
    
    font-size: 24px;
    font-variant: petite-caps;
    display: flex;
    margin-left: 355px;
}
.details{
    width: 450px;
    height: 368px;
    margin-top: 9px;
    color: black;
    
    font-size: 24px;
    font-feature-settings: "pcap";
    font-variant: petite-caps;
   
}
.signin-heading{
    align-content: center;
    margin-left: 155px;
    display: flex;
    text-align: center;
    font-size: 26px;
    justify-content: center;
}